<phpunit
    backupGlobals="true"
    backupStaticAttributes="false"
    cacheResultFile=".phpunit.cache/test-results"
    colors="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage
        cacheDirectory=".phpunit.cache/code-coverage"
        processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
